page-statistics {

    #SpnStatistics {
        display: block;
        font-weight: bold;
        font-size: 2em;
        margin-top: 10px;
        margin-left: 55px;
    }

    .SpnType {
        display: block;
        font-weight: 500;
        font-size: 0.9em;
        margin-top: 10px;
        margin-left: 55px;
    }

}