page-strealization {
        // .Clsyellow{
        //     border: 2px solid yellow;
        // }
        // .Clsred{
        //     border:2px solid red;
        //     // color:#fff;
        // }
        // .Clsgreen{
        //     border: 2px solid green;
        //     // color:#fff;
        // }
        .Clsgrey{
            border: 2px solid grey;
            // color:#fff;
        }
        .Clspink{
            border:2px solid pink;
        }
        .Clsblue{
            border:2px solid skyblue;
        }
        .Clsyellow{
            border-left: 5px solid orange;
        }
        .Clsred{
            border-left: 5px solid red;
        }
        .Clsgreen{
            border-left: 5px solid green;
        }
        .ClsPms{
            border:0.23vh solid #FF8C8C;
        }
        .ClsFs{
            border:0.23vh solid #FFC31E;
        }
        .ClsRr{
            border:0.23vh solid #808080;
        }
        .ClsPdi{
            border:0.23vh solid #46C646;
        }
        .ClsAcc{
            border:0.23vh solid #7878FF;
        }
        .ClsTechCamp{
            border:0.23vh solid #C378FA;
        }
        .ClsFc{
            border:0.23vh solid #46C6C6;
        }
        .text-input-md{
            margin: 0;
        }

    
}
